<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transaction</title>
</head>
<body>

    <h1>Update Form</h1>
    <a href="/transactions">Back To Transaction List</a>
    <form th:action="@{/transactions/save-transaction}" th:object="${transaction}" method="post">
        <div>
            <label for="customer">Customer:</label>
            <select id="customer" th:field="*{customer}">
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
            </select>
        </div>
        <div>
            <label for="transactionDate">Transaction Date:</label>
            <input type="date" id="transactionDate" th:field="*{transactionDate}">
        </div>
        <div>
            <label for="transactionType">Transaction Type:</label>
            <input type="text" id="transactionType" th:field="*{transactionType}">
        </div>
        <div>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" th:field="*{amount}">
        </div>
        <div>
            <label for="acreage">Acreage:</label>
            <input type="text" id="acreage" th:field="*{acreage}">
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>