<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction List</title>
</head>
<body>

    <h1>Transaction List</h1>
    <a href="/transactions/create-form">Create New Transaction</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Transaction Date</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Acreage</th>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.customer.name}"></td>
            <td th:text="${transaction.transactionDate}"></td>
            <td th:text="${transaction.transactionType}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.acreage}"></td>
        </tr>
    </table>

</body>
</html>